<!DOCTYPE html>
<html lang="ru"> 
<head>
    <title>Поиск</title>
    <meta http-equiv="Content-Type" content="text/html" charset="cp1251">
</head>

<body>

	<style>
	    #content {
            margin-top: 2em;
	        padding-left: 40px;
		}

		#link {
			color: #333366;
			font-size: 12px;
		}

		#source {
			color: #333366;
			font-size: 12px;			
		}

		#meta {
			font-size: 12px;			
		}

		p {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        #pages {
	        padding-left: 40px;
			font-size: 14px;        	
        }
	</style>

	<div id="content">
	        <h3>Поисковик</h3>
	        <form action="/news/search/" method="get">
	            <input type="text" name="query" value="">
	            <input type="hidden" name="page" value="1"/>
	            <input type="submit" value="Найти">
	        </form>
	</div>

    <br>
	<div contenteditable="true">
		{% if news_list %}
        <dl>
            {% for news in news_list %}
                <dd>
	        	    <p><a href="{{ news.link }}">{{ news.title|safe }}</a></p>
	        	    <div id="link"><p>{{ news.link }}</p></div>
	        	    <p>{{ news.snippet|safe }}</p>
	        	    <div id="source"><p><a href="http://{{ news.source }}">{{ news.source|safe }}</a></p></div>
	        	    <div id="meta"><p>{{ news.region }}, {{ news.branch }}, {{ news.date }}</p></div>
                </dd>
            <br>
        {% endfor %}
        </dl>
        {% else %}
            <p>Ваш запрос не дал результатов.</p>
        {% endif %}
	</div>

	<div>
		{% if news_list %}
		    <div id="pages">
		    	<p>
					{% for i in range %}
					    <a href="/news/search/?query={{ query }}&amp;page={{ i }}">{{ i }}&nbsp;</a>
					{% endfor %}
			    </p>
			</div>
        {% endif %}
	</div>
</body>
</html>